/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .search-icon {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 45px;
    width: 45px;
    background-color: #ff4a52;
  }
  .drop-down-menu {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #1ec6b6;
    width: 45px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991.98px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 100px;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    border-radius: 5px;
  }
  nav li {
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
    margin: 0 20px;
  }
  nav li:last-child {
    border: none;
  }
  nav li a{
    color: white;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav ul {
    display: flex !important;
    flex-direction: row;
  }
  .drop-down-menu {
    display: none !important;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search-icon {
    width: 100px;
  }
  .search-bar,
  .search-form {
    flex-direction: row;
    justify-content: center;
  }
}
