* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
img{
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #ff4a52;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
}
li:hover {
  color: #ff4a52;
}
.d-flex {
  display: flex !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}
.row {
  width: 100%;
  display: flex;
}
.font-15 {
  font-size: 15px !important;
}
header {
  position: relative;
  padding: 25px 0;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: none !important;
}
nav li {
  margin-right: 35px;
  font-size: 18px;
}

.search-icon {
  justify-content: center;
  align-items: center;
}
.search-icon a {
  color: white;
}
.burger-menu {
  border: none;
  background-color: transparent;
}
.burger-menu a {
  color: black;
}
.show {
  display: flex !important;
}
.slider {
  background-image: url(./images/banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}

.slider-content {
  height: 45vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.slider-content h1 {
  font-size: 8vw;
  font-weight: 400;
  font-family: "Nothing You Could Do", cursive;
  color: white;
  line-height: 10vw;
}
.slider-content p {
  font-size: 2.5vw;
  font-weight: 400;
  color: white;
}
.slider-btn {
  display: inline-block;
  background-color: #1ec6b6;
  font-family: "Rubik", sans-serif;
  padding: 1vw 1.5vw;
  border-radius: 5px;
  font-size: 1.7vw;
  outline: 0;
  color: white;
}
.slider-btn:hover {
  background-color: #ff4a52;
  color: white !important;
}
.search-bar {
  background-color: black;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
}

.search-bar h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.search-bar input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #363e52;
  border-radius: 5px;
  padding: 17px 50px;
  color: white;
  margin: 10px 10px;
  outline: 0;
}
.search-form {
  width: 80%;
  align-items: center;
  flex-direction: column;
}
.search-btn {
  color: white;
  background-color: #ff4a52;
  padding: 17px 39px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #1ec6b6;
  color: white;
}
.popular-heading {
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  text-align: center;
}

.popular-title {
  font-size: 38px;
  font-weight: 400;
  color: #040e27;
  margin: 10px;
}

.popular-heading p {
  opacity: 0.5;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.popular-container {
  flex-wrap: wrap;
  justify-content: center;
}
.popular-container article {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
.popular-container article:hover {
  transform: translateY(-10px);
}
.popular-container article:before {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(4, 14, 39, 0) 0%,
    rgba(4, 14, 39, 0.7) 100%
  );
  content: "";
  width: 100%;
  height: 92.4%;
  z-index: 1000;
  border-radius: 5px;
}

.popular-container img {
  margin-bottom: 20px;
  height: 280px;
}

.popular-img-info {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  left: 30px;
}
.popular-img-info h4 {
  font-size: 22px;
  font-weight: 400;
  margin-right: 10px;
  color: white;
  transition: all 0.3s;
}
.popular-img-info a {
  font-size: 12px;
  font-weight: 400;
  color: white;
  background-color: #1ec6b6;
  padding: 7px 12px;
  border-radius: 30px;
}
.popular-container article:hover .popular-img-info h4 {
  color: #ff4a52;
  transition: all 0.3s;
}
.popular-container article:hover .popular-img-info a {
  background-color: #ff4a52;
  transition: all 0.3s;
}
.newsletter {
  position: relative;
  background-image: url(./images/newsletter.png);
  height: 250px;
  background-size: cover;
  background-position: 65% 65%;
}
.newsletter:before {
  content: "";
  background: #040e27;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.newsletter-container {
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.newsletter-text {
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  align-items: center;
}
.newsletter-text h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.newsletter-text p {
  font-size: 12px;
  font-weight: 400;
  color: #aab1b7;
}
.mail-form {
  display: flex;
  flex-direction: column;
}
.mail-form input {
  width: 40vw;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  padding-left: 15px;
  outline: 0;
}
.newsletter-btn {
  background-color: #ff4a52;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 16px 10px;
}
.video {
  background-image: url(./images/video.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 130px 0;
  margin: 15px 0;
  position: relative;
}
.video:before {
  position: absolute;
  left: 0;
  top: 0;
  background: #040e27;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}
.video-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.video-container h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 7vw;
  color: #fff;
  margin-bottom: 30px;
}
.video-btn {
  width: 85px;
  height: 85px;
  background: #1ec6b6;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50%;
}
.video-btn:hover {
  background: #ff4a52;
}
.video-btn a {
  color: #fff;
}
footer {
  background-color: #040e27;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
.left-footer {
  margin-bottom: 20px;
}
.left-footer li {
  color: #aab1b7;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.footer-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Rubik", sans-serif;
}


.links li {
  float: left;
  width: 50%;
  font-size: 14px;
  line-height: 35px;
}
.links li a {
  color: #aab1b7;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
