* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: #ff4a52;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
}
li:hover {
  color: #ff4a52;
}
.d-flex {
  display: flex !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}
.row {
  width: 100%;
  display: flex;
}
.font-15 {
  font-size: 15px !important;
}
header {
  position: relative;
  padding: 25px 0;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: none !important;
}
nav li {
  margin-right: 35px;
  font-size: 18px;
}

.search-icon {
  justify-content: center;
  align-items: center;
}
.search-icon a {
  color: white;
}
.burger-menu {
  border: none;
  background-color: transparent;
}
.burger-menu a {
  color: black;
}
.show {
  display: flex !important;
}
.slider {
  background-image: url(./images/banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}

.slider-content {
  height: 45vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.slider-content h1 {
  font-size: 8vw;
  font-weight: 400;
  font-family: "Nothing You Could Do", cursive;
  color: white;
  line-height: 10vw;
}
.slider-content p {
  font-size: 2.5vw;
  font-weight: 400;
  color: white;
}
.slider-btn {
  display: inline-block;
  background-color: #1ec6b6;
  font-family: "Rubik", sans-serif;
  padding: 1vw 1.5vw;
  border-radius: 5px;
  font-size: 1.7vw;
  outline: 0;
  color: white;
}
.slider-btn:hover {
  background-color: #ff4a52;
  color: white !important;
}
.search-bar {
  background-color: black;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
}

.search-bar h3 {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.search-bar input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #363e52;
  border-radius: 5px;
  padding: 17px 50px;
  color: white;
  margin: 10px 10px;
  outline: 0;
}
.search-form{
  width: 80%;
  align-items: center;
  flex-direction: column;
}
.search-btn {
  color: white;
  background-color: #ff4a52;
  padding: 17px 39px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.search-btn:hover{
  background-color: #1ec6b6;
  color: white;
}
